.container-fluid{
    max-width: 1060px;
}
.container{
    max-width: 900px;
}
.img_fluid{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
