$headerLogo-size: 30px;
$nav-size: 14px;
$nav-Color: #626262;
$photodiary-Color: #b4ad9e;
$photodiary-size: 14px;
$weekende_title-size: 30px;
$weekende_title-color: #626262;
$weekende_text-color: #626262;
$weekende_text-size: 14px;
$weekend_leave-color: #b4ad9e;
$weekend_leave-size: 14px;
$topgalery_img-size: 280px;
$Lifestyle-color: #b4ad9e;
$Lifestyle-size: 14px;
$topgalery_box_title-size: 30px;
$topgalery_box_title-color: #626262;
$topgalery_box_text-color: #626262;
$topgalery_box_text-size: 14px;
